<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="logFile" value="/data2/log/ljzzz/web.log" />

	<appender name="STDOUT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logFile}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logFile}.%d{MMdd}.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%t] [%c{10}:%L][%-5level] - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
	
</configuration>
